@media screen and (max-width: 765px) {
	body::after {
/*		content: '';
		background: url(../images/mobile/demo.png);
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 421%;
		background-size: cover;
		opacity: 0.2;*/
	}
	section#page1{
		background: url(../images/mobile/section1-back.jpg) no-repeat;
		background-size: contain;
		position: relative;
	}
	section#page1 .title{
		font-size: 7vw;
		line-height: 8.6vw;
		text-align: center;
		text-indent: 0;
		letter-spacing: 1px;
	}
	section#page1 .subtitle{
		font-size: 5.5vw;
		text-align: center;
		line-height: 1.2;
		margin-top: 0;
		margin-bottom: 3.2vw;
	}
	section#page1 .box{
		transform: unset;
		font-size: 5.2vw;
	}
	section#page1 .box span{
	    font-weight: bolder;
	    -webkit-text-stroke-width: 0;
	}
	section#page1 .arrow1{
		bottom: 2.8%;
	}
	section#page2{
		display: block;
		position: relative;
		background: url(../images/mobile/section2-back.jpg) no-repeat;
		background-size: contain;
	}
	section#page2 .sec2contain{display: block;}
	section#page2 .sec2contain .left-content{
		display: block;
		margin: auto;
		width: 70%;
	}
	section#page2 .sec2contain .right-content{
		display: block;
		margin: auto;
		width: 70%;
		padding: 4% 0;
	}
	section#page2 .sec2contain .right-content .right-title{
		font-size: 5.0vw;
		padding: unset;
		text-align: center;
		word-spacing: 5px;
	}

	section#page2 .sec2contain .right-content .right-text ul{
		margin-top: 11px;
	    list-style-position: inside;
	    width: 100%;
	    padding: 0;
	}
	section#page2 .sec2contain .right-content .right-text ul li{
		text-align: center;
	    font-size: 3.8vw;
	    padding: 1;
	}
	section#page2 .sec2contain .right-content .right-text ul li span{
		position: relative;
	    left: 10px;
	}

	section#page2 .sec2contain .left-content .left-image{
		margin: 27px 0px 0;
    	transform: unset;
    	padding: 0;
	}
	section#page2 .sec2contain .left-content .left-image img{
		width: 121px;
	}
	section#page2 .sec2contain .left-content .left-text{
		font-size: 4.2vw;
	    line-height: 4.5vw;
	    margin-top: -6px;
	}
	section#page3 .icons-container{
		margin-top: 7.2vw;
	}
	section#page3 h1{
		font-size: 6.5vw;
    	margin: 4vw;
	}
	section#page3 .icons-container .box{
		display: block;
	    width: 69%;
	    margin: 0 auto 11.5vw;
	}
	section#page3 .icons-container .box .txt-box{
	    font-size: 5vw;
	    display: block;
	    width: 60%;
	    padding: 0;
	    line-height: 6vw;
	    margin-top: 3.8vw;
	}
	section#page4{
		background: url(../images/mobile/section4-back.jpg) no-repeat;
		background-size: contain;
	}
	section#page4 .sec4-cont{
		margin: 0 auto;
	}
	section#page4 .sec4-cont .sec4title{
	    font-size: 6vw;
	    padding-top: 54.8%;
	}
	section#page4 .sec4-cont .sec4content{
		font-size: 5vw;
	    line-height: 5vw;
	    margin-top: -4vw;
	}
	section#page5 .credits{
		font-size: 3vw;
	}
	section#page5 .terms a{
		font-size: 2.8vw;
	}
	.nav-dots_cont{
		display: none;
	}
	.sub-container{
		margin: 0;
		padding: 11%;
		padding-top: 47.2%;
	}
	.top{
		height: unset;
	}
	.top img{
		transform: unset;
		width: 39%;
		padding: 10px;
	}


}